html {
  direction: rtl;
}
#sidebar {
  min-width: 14rem;
}
.nav-item a {
  color: #fff;
  padding: 0.7rem;
  margin: 0.3rem;
  display: block;
  border-radius: 0.2rem;
  transition: all 0.3s ease;
}
.nav-item a.active {
  background: #5e72e4;
}
.nav-item a:hover {
  background: #5e72e4;
}
table td a {
  display: block;
  height: 100%;
}

.nav-pills .nav-link:hover {
  color: #fff;
}

.nav-fill .nav-item {
  width: 150px;
  flex-grow: 0;
}

@media (max-width: 725px) {
  .tap-choise {
    justify-content: center;
  }
}

th {
  text-align: right;
}
.dataTables_info {
  display: none;
}
td {
  text-align: right;
}

.hide {
  display: none;
}

th {
  min-width: 60px !important;
}

.form-group {
  text-align: right;
}

.edit-table {
  width: 20px;
  height: 20px;
  margin-top: 7px;
  transition: all 0.15s ease;
  cursor: pointer;
  margin-left: 10px;
}
.remove-table {
  width: 20px;
  height: 20px;
  font-size: 30px;
  transition: all 0.15s ease;
  cursor: pointer;
}
.edit-table:hover {
  color: #5e72e4;
  transform: translateY(-1px);
}

.remove-table:hover {
  color: #f5365c;
  transform: translateY(-1px);
}


